@if(type === 'books') { @if(!loadingComments) {
<h3 class="text-xl lg:text-2xl font-semibold pb-1 sm:pb-2 text-center">
  Recent user book reviews
</h3>
@if(bookComments.length) { @for (comment of recentBookComments; track
comment.id) {
<app-bookitem-comment [comment]="comment"></app-bookitem-comment>
} } @else {
<app-floating-message
  ><p class="text-lg md:text-xl font-semibold text-center">
    User has not written any comment
  </p></app-floating-message
>
} } @else {
<app-floating-message>
  <p class="text-lg md:text-xl font-semibold text-center">
    Loading...
  </p></app-floating-message
>
} } @else if(type === 'authors') { @if(!loadingComments) {
<h3 class="text-xl lg:text-2xl font-semibold pb-1 sm:pb-2 text-center">
  Recent user author reviews
</h3>
@if(authorComments.length) { @for(comment of recentAuthorComments; track
comment.id) {
<app-authoritem-comment [comment]="comment"></app-authoritem-comment>
} } @else{
<app-floating-message
  ><p class="text-lg md:text-xl font-semibold text-center">
    User has not written any comment
  </p></app-floating-message
>
} } @else {
<app-floating-message>
  <p class="text-lg md:text-xl font-semibold text-center">
    Loading...
  </p></app-floating-message
>
} }
