<div class="relative min-h-[600px]">
  <div *ngIf="favouriteBooksService.isAnyBook; else noBook">
    @if (!favouriteBooksService.loadingBooks) {
    <app-userlist-item-bookmarks
      [entity]="'works'"
      [works]="favouriteBooksService.userBooks"
    ></app-userlist-item-bookmarks
    >} @else {
    <app-floating-message
      ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        Loading...
      </p></app-floating-message
    >
    }
  </div>
  <ng-template #noBook>
    <app-floating-message
      ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        No bookmarks
      </p></app-floating-message
    >
  </ng-template>
</div>
