header {
  height: 80px;
}

.nav {
  .nav-list {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        padding: 0 25px;
        height: 100%;

        &:hover {
          background-color: #303030;
          color: #fff;
        }

        &.active {
          background-color: rgb(122, 122, 122);
          color: #fff;

          &:hover {
            background-color: #303030;
          }
        }
      }
    }
  }
}

.user-actions {
  div {
    fa-icon {
      font-size: 20px;
    }
  }
}

.menu__btn {
  position: absolute;
  top: 20px;
  right: 25px;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: #000;
  }
}

.header__responsive {
  height: 220px;
}

.nav__responsive {
  display: flex;
  gap: 10px;
  .nav-list {
    width: 100%;
    .nav-item {
      width: 100%;
    }
  }
}

.menu__responsive {
  display: none;
}

.logo__responsive {
  display: block;
}

@media (max-width: 1350px) {
  .nav .nav-list .nav-item .nav-link {
    padding: 0 15px;
  }
}

@media (max-width: 1030px) {
  .menu__responsive {
    display: flex;
  }
  .logo__normal {
    display: none;
  }
  .nav .nav-list .nav-item .nav-link {
    padding: 10px 0;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .header__responsive {
    height: 260px;
  }
  .nav .nav-list {
    flex-direction: column;
    .nav-item .nav-link {
      padding: 0 10px;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
    }
  }
  .menu__btn {
    width: 30px;
    height: 30px;
    top: 25px;
  }
}

@media (max-width: 500px) {
  header {
    padding: 0 10px;
  }
}
