<header>
  <div>
    <div>
      <a routerLink="/home"
        ><img src="/assets/logo/png/logo-min.png" alt=""
      /></a>
      <ul>
        <li><a routerLink="/home"></a></li>
        <li><a routerLink="/booklist"></a></li>
        <li><a routerLink="/userlist"></a></li>
        <li><a routerLink="/favourite-books"></a></li>
      </ul>
      <div>
        <input type="search" placeholder="Search books" />
      </div>
      <ul>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
      <div>profile</div>
    </div>
  </div>
</header>
