header {
  height: 80px;
}

.nav {
  .nav-list {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        padding: 0 25px;
        height: 100%;

        &:hover {
          background-color: #303030;
          color: #fff;
        }

        &.active {
          background-color: rgb(122, 122, 122);
          color: #fff;

          &:hover {
            background-color: #303030;
          }
        }
      }
    }
  }
}

.user-actions {
  div {
    fa-icon {
      font-size: 20px;
    }
  }
}

.menu {
  background: #333;
  color: #fff;
  padding: 10px;
  width: 200px;
  position: absolute;
  font-size: 20px;
  right: -19px;
  top: 52px;
}

.menu-item {
  cursor: pointer;
  padding: 5px 0;
}

.menu-item:hover {
  text-decoration: underline;
}

.user-actions__list {
  li {
    &:hover {
      background-color: #303030;
      color: #fff;
    }
  }
}
