header {
  height: 80px;
}

.nav {
  .nav-list {
    .nav-item {
      .nav-link {
        display: flex;
        align-items: center;
        padding: 0 25px;
        height: 100%;

        &:hover {
          background-color: #303030;
          color: #fff;
        }

        &.active {
          background-color: rgb(122, 122, 122);
          color: #fff;

          &:hover {
            background-color: #303030;
          }
        }
      }
    }
  }
}

.user-actions {
  div {
    fa-icon {
      font-size: 20px;
    }
  }
}

.menu {
  background: #fff;
  color: rgb(122, 122, 122);
  padding: 10px;
  width: 400px;
  position: absolute;
  right: -19px;
  top: 52px;
  font-size: 14px;
  line-height: 18px;
}

.menu-item {
  cursor: pointer;
  padding: 5px;
  text-align: left;
}

.menu-item:hover {
  text-decoration: underline;
}

.user-actions__list {
  li {
    &:hover {
      background-color: #303030;
      color: #fff;
    }
  }
}

.menu-wrapper {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;

  .menu-img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}
