<header class="sticky top-0 px-5 bg-[#e7e7e7]">
  <nav
    class="nav flex container-normall max-h-full h-full items-center justify-between"
  >
    <a routerLink="/home" class="max-h-full h-full w-1/4"
      ><img
        src="/assets/logo/png/logo-sm.png"
        alt="logo"
        class="w-full h-full object-contain"
    /></a>
    <ul class="nav-list flex justify-center h-full">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/booklist"
          >Books</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/userlist"
          >Users</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink="/favourite-books"
          >Your favourites</a
        >
      </li>
    </ul>
    <div>
      <app-search-input />
    </div>
    <ul class="user-actions__list flex justify-between h-full text-center">
      <li
        class="user-actions flex w-14 h-full items-center justify-center"
        (clickOutside)="clickedOutside()"
        (click)="toggleMenu()"
        [style]="isMenuOpened ? clickedLi : ''"
      >
        <div class="relative">
          <div class="menu-container">
            <div class="menu-toggler">
              <fa-icon [icon]="faBell"></fa-icon>
            </div>
            @if(isMenuOpened) {
            <div class="menu">
              <div class="menu-item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
                minus eaque saepe ipsum possimus dignissimos!
              </div>
              <div class="menu-item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
                minus eaque saepe ipsum possimus dignissimos!
              </div>
              <div class="menu-item">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis
                minus eaque saepe ipsum possimus dignissimos!
              </div>
            </div>
            }
          </div>
        </div>
      </li>
      <li class="flex w-14 h-full items-center justify-center">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </li>

      <li class="flex w-14 h-full items-center justify-center">
        <fa-icon [icon]="faUser"></fa-icon>
      </li>
    </ul>
  </nav>
</header>
