<div class="pt-[60px]">
  <div class="pb-3">
    <h4 class="profile__titles pb-2 font-semibold text-center sm:text-start">
      {{ user?.displayName + "'s friends" | uppercase }}
    </h4>
  </div>
  <div
    class="relative flex flex-wrap gap-3 px-3 min-h-[200px] justify-center sm:justify-normal"
  >
    @if(!loadingFriends) {@if(allFriends.length > 0) { @for (friend of
    paginationLiteService.visibleElements; track $index) {
    <a
      [routerLink]="['/userlist', friend.id]"
      class="relative inline-block friend-item"
    >
      <div class="w-[200px] h-[200px]">
        <img
          [src]="friend.photoURL"
          alt="friend"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="friend-hover">
        <h5 class="font-semibold text-white">
          {{ friend.name || "unknown" }}
        </h5>
      </div> </a
    >} } @else {
    <div class="no-items">
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        No friends
      </p>
    </div>
    }} @else {
    <div class="no-items">
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        Loading...
      </p>
    </div>
    }
  </div>
  @if(!loadingFriends){
  <div class="pagination mb-5" *ngIf="paginationLiteService.numPages() > 1">
    <button
      class="pagination__btn"
      (click)="paginationLiteService.prevPage()"
      [disabled]="paginationLiteService.currentPage === 1"
    >
      Previous
    </button>
    <span class="pagination__text"
      >Current Page: {{ paginationLiteService.currentPage }}</span
    >
    <button
      class="pagination__btn"
      (click)="paginationLiteService.nextPage()"
      [disabled]="
        paginationLiteService.currentPage === paginationLiteService.numPages()
      "
    >
      Next
    </button>
  </div>
  }
</div>
