.rating__item {
  margin-bottom: 5px;
}

.rating__value {
  font-weight: 600;
}

.textarea-error {
  border-color: var(--error-color);
  color: var(--error-color);
}

.textarea-error::placeholder {
  color: var(--error-color);
}
