<section class="container-big">
  @if (!loadingBook) {
  <div class="flex gap-10">
    <div class="max-w-96 flex-shrink-0">
      <div class="max-h-[500px] h-full">
        <img
          [src]="
            mainCover
              ? (mainCover | bookImage : 'L' : 'id')
              : '/assets/if there is no image.png'
          "
          alt="main cover"
          class="w-full h-full object-cover"
        />
      </div>
      <div class="my-5">
        <p *ngIf="book.first_publish_date" class="mb-2">
          First published in
          <span class="font-semibold">{{ book.first_publish_date }}</span>
        </p>
        <p *ngIf="book.created">
          Release date:
          <span class="font-semibold">{{
            book.created.value | date : "longDate"
          }}</span>
        </p>
      </div>
      <div class="mb-3" *ngIf="book.links">
        <h3 class="text-2xl font-semibold">Links</h3>
        <ul class="list-disc pl-5">
          @for (link of book.links; track $index) {
          <li
            class="mb-2 underline text-blue-700 transition-colors hover:text-blue-800"
          >
            <a [href]="link.url">{{ link.title }}</a>
          </li>
          }
        </ul>
      </div>
    </div>
    <div>
      <h1 class="font-semibold text-5xl mb-5">{{ book.title }}</h1>
      <div class="mb-5" *ngIf="book.description; else noDescription">
        <h3 class="text-2xl font-semibold pb-2">Description</h3>
        <p>
          {{
            book.description.value || book.description.toString()
              | truncateText : descriptionShowLength : isDescriptionFullText
          }}
          <span class="ml-1"
            ><button
              type="button"
              (click)="showCloseDescription()"
              class="underline text-blue-700 transition-colors hover:text-blue-800"
            >
              {{ descriptionBtn }}
            </button></span
          >
        </p>
      </div>
      <ng-template #noDescription
        ><p>This book has no description</p></ng-template
      >
      <div class="flex justify-between pb-10">
        <div class="mb-3 max-w-[30%] w-full">
          <div
            class="text-center"
            *ngIf="book.subject_people; else noCharacters"
          >
            <h3 class="text-2xl font-semibold pb-2">Main Characters</h3>
            <ul class="overflow-y-scroll h-[170px]">
              @for (people of characters; track $index) {
              <li class="mb-3">{{ people }}</li>
              }
            </ul>
            <button
              type="button"
              (click)="toggleList('characters')"
              *ngIf="book.subject_people.length > 5"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all"
            >
              {{ charactersBtn }}
            </button>
          </div>
          <ng-template #noCharacters>
            <p class="text-center">There is not info about characters</p>
          </ng-template>
        </div>
        <div class="mb-3 max-w-[30%] w-full">
          <div class="text-center" *ngIf="book.subject_places; else noPlaces">
            <h3 class="text-2xl font-semibold pb-2">Main Places</h3>
            <ul class="overflow-y-scroll h-[170px]">
              @for (place of places; track $index) {
              <li class="mb-3">{{ place }}</li>
              }
            </ul>
            <button
              type="button"
              (click)="toggleList('places')"
              *ngIf="book.subject_places.length > 5"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all"
            >
              {{ placesBtn }}
            </button>
          </div>
          <ng-template #noPlaces>
            <p class="text-center">There is not info about places</p>
          </ng-template>
        </div>
        <div class="mb-3 text-center max-w-[30%] w-full">
          <div class="text-center" *ngIf="book.subjects; else noSubjects">
            <h3 class="text-2xl font-semibold pb-2">Main Subjects</h3>
            <ul class="overflow-y-scroll h-[170px]">
              @for (subject of subjects; track $index) {
              <li class="mb-3">
                <a
                  [routerLink]="['/booklist']"
                  [queryParams]="{ subject: subject.toLowerCase() }"
                  class="underline text-blue-700 transition-colors hover:text-blue-800"
                  >{{ subject | titlecase }}</a
                >
              </li>
              }
            </ul>
            <button
              type="button"
              (click)="toggleList('subjects')"
              *ngIf="book.subjects.length > 5"
              class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 transition-all"
            >
              {{ subjectsBtn }}
            </button>
          </div>
          <ng-template #noSubjects>
            <p class="text-center">There is not info about subjects</p>
          </ng-template>
        </div>
      </div>
      @if (!loadingAuthor) {
      <div class="mb-3">
        <h3 class="text-2xl font-semibold pb-2">Authors</h3>
        @for (author of authors; track $index) {
        <div class="flex w-full gap-5 mb-10">
          <div class="max-w-52 w-full h-72 flex-shrink-0">
            <img
              [src]="
                author.photos
                  ? (author.photos[0].toString() | authorImage : 'L' : 'id')
                  : '/assets/if there is no image.png'
              "
              alt=""
              class="w-full h-full object-cover"
            />
          </div>
          <div>
            <h5 class="text-xl font-semibold pb-2">{{ author.name }}</h5>
            <p *ngIf="isString(author.bio); else noBio">
              {{ author.bio | truncateText : 350 }}
            </p>
            <ng-template #noBio>
              <p>
                This author is waiting that someone will write for him or her a
                normal bio info XD
              </p>
            </ng-template>
            <a
              class="inline-block mt-5 underline text-blue-700 transition-colors hover:text-blue-800"
              [routerLink]="['/authorlist', authorKeys[$index]]"
              >Go to Author page</a
            >
          </div>
        </div>
        }
      </div>
      } @else {
      <p class="text-3xl font-semibold">Loading authors...</p>
      }
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="mb-3 w-60">
      <h3 class="text-2xl font-semibold pb-2">Ratings</h3>
      <p>
        Average ratings:
        <span class="rating__value">{{
          bookExternalData.ratings_average
        }}</span>
      </p>
      <p>
        Ratings count:
        <span class="rating__value">{{ bookExternalData.ratings_count }}</span>
      </p>
      <p>
        1 star:
        <span class="rating__value">{{
          bookExternalData.ratings_count_1
        }}</span>
      </p>
      <p>
        2 star:
        <span class="rating__value">{{
          bookExternalData.ratings_count_2
        }}</span>
      </p>
      <p>
        3 star:
        <span class="rating__value">{{
          bookExternalData.ratings_count_3
        }}</span>
      </p>
      <p>
        4 star:
        <span class="rating__value">{{
          bookExternalData.ratings_count_4
        }}</span>
      </p>
      <p>
        5 star:
        <span class="rating__value">{{
          bookExternalData.ratings_count_5
        }}</span>
      </p>
      <p>
        Pages:
        <span class="rating__value">{{
          bookExternalData.number_of_pages_median
        }}</span>
      </p>
      <p>
        Currently reading:
        <span class="rating__value">{{
          bookExternalData.currently_reading_count
        }}</span>
      </p>
      <p>
        Already read:
        <span class="rating__value">{{
          bookExternalData.already_read_count
        }}</span>
      </p>
      <p>
        Want to reading:
        <span class="rating__value">{{
          bookExternalData.want_to_read_count
        }}</span>
      </p>
    </div>
    <div class="max-w-full w-full mx-5">
      <form [formGroup]="commentForm" (ngSubmit)="onCommentFormSubmit()">
        <label
          for="comment"
          class="block mb-2 text-xl font-semibold text-gray-90"
          >Your comment</label
        >
        <textarea
          name="comment"
          id="comment"
          rows="6"
          class="block p-2.5 w-full text-base resize-none text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Write your comment here..."
          formControlName="comment"
          [class.textarea-error]="commentForm.controls.comment.touched && commentForm.controls.comment.errors?.['required']"
        ></textarea>
        <div
          class="validate-error mt-2"
          *ngIf="commentForm.controls.comment.touched && commentForm.controls.comment.errors?.['required']"
        >
          You should write a comment
        </div>
        <app-button
          [button-styles]="'margin-top: 20px; width: 100%;'"
          [text]="'Post'"
          [disabled]="commentForm.controls.comment.errors?.['required']"
        />
      </form>
    </div>
    <div class="w-60">add to/delete from favourite books</div>
  </div>
  <!-- <div class="flex flex-wrap">
    @for (cover of book.covers; track $index) {
    <img
      *ngIf="cover !== -1 && cover !== +mainCover"
      [src]="cover.toString() | bookImage : 'L' : 'id'"
      alt="cover"
    />
    }
  </div> -->
  } @else {
  <p class="text-3xl font-semibold">Loading...</p>
  }
</section>
