<a
  class="item__card rounded inline-block overflow-hidden shadow-lg relative cursor-pointer"
  (click)="moveToItem()"
>
  <div>
    <img
      class="item__image"
      [src]="
        !book.cover_edition_key
          ? '/assets/images/if there is no image.png'
          : (book.cover_edition_key | bookImage : 'M' : 'olid')
      "
      alt="Sunset in the mountains"
    />
  </div>
  <div
    class="item__description px-6 py-4 absolute w-full h-full top-0 bg-white bg-opacity-70 opacity-0"
  >
    <div class="item__description-info">
      <h3 class="font-bold text-xl mb-2">{{ book.title }}</h3>
      <p class="text-gray-700 text-base">
        <span class="font-semibold">Rating:</span>
        <span class="font-bold">
          {{
            book.ratings_average
              ? (book.ratings_average | number : "1.1-1")
              : "unknown"
          }}</span
        >
      </p>
    </div>
  </div>
</a>
