.about__user {
  margin-top: 50px;
  padding: 40px 20px !important;

  &-activity {
    background-image: url("/assets/images/about-user-bg.png");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
