<div class="about__user container-big min-h-[600px]">
  <h3 class="font-semibold text-3xl mb-5">About you</h3>
  <div class="flex max-h-[470px] min-h-full h-full">
    <div class="w-1/2 text-center flex items-center justify-center flex-col">
      <div class="max-w-full mb-4 overflow-hidden w-full">
        <img
          [src]="user?.photoURL"
          class="object-contain h-full w-full"
          alt="profile-img"
        />
      </div>
      <div class="flex flex-col gap-3">
        <p>
          Your email: <span class="font-semibold">{{ user?.email }}</span>
        </p>
        <p>
          Your name: <span class="font-semibold">{{ user?.displayName }}</span>
        </p>
        <p>
          Joined us on
          <span class="font-semibold">{{
            user?.metadata?.creationTime | date : "medium"
          }}</span>
        </p>
        <p>
          Last time in system:
          <span class="font-semibold">{{
            user?.metadata?.lastSignInTime | date : "medium"
          }}</span>
        </p>
      </div>
    </div>
    <div class="about__user-activity w-1/2 min-h-[470px]">
      <div
        class="relative flex justify-center items-center flex-col gap-4 h-full"
      >
        @if(!loadingAboutUser) {
        <h6 class="font-semibold text-2xl mb-3">Your activity</h6>
        <p class="italic text-base">
          You likes {{ aboutUser.likedBooks }} books
        </p>
        <p class="italic text-base">
          You likes {{ aboutUser.likedAuthors }} authors
        </p>
        <p class="italic text-base">
          You have already written {{ aboutUser.writtenReviewsBooks }} reviews
          on books
        </p>
        <p class="italic text-base">
          You have already written {{ aboutUser.writtenReviewsAuthors }} reviews
          on authors
        </p>
        <p class="italic text-base">
          You have {{ aboutUser.notifications }} notifications
        </p>
        } @else {
        <div class="no-items">
          <p class="text-xl font-semibold text-center">Activity loading...</p>
        </div>
        }
      </div>
    </div>
  </div>
</div>
