<div class="relative min-h-60 pt-3 md:pt-5">
  @if (!loadingRequests) {@if(allAcceptedRequests.length > 0){
  <div class="flex justify-center flex-wrap gap-3">
    @for (request of allAcceptedRequests; track $index) {
    <app-accepted-request-item [request]="request"></app-accepted-request-item>
    }
  </div>
  } @else {
  <app-floating-message>
    <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      You did not accepted any request
    </p></app-floating-message
  >
  } } @else {
  <app-floating-message
    ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      Loading...
    </p></app-floating-message
  >
  }
</div>
