<a
  class="item__card rounded inline-block overflow-hidden shadow-lg relative"
  [routerLink]="['/authorlist', author.key]"
>
  <div>
    <img
      class="item__image"
      [src]="
        photoId !== 'no photo'
          ? (photoId | authorImage : 'L' : 'id')
          : '/assets/images/no author image.png'
      "
      alt="author"
    />
  </div>
  <div
    class="item__description px-6 py-4 absolute w-full h-full top-0 bg-white bg-opacity-70 opacity-0"
  >
    <div class="item__description-info">
      <h3 class="font-bold text-xl mb-2">{{ author.name }}</h3>
      <p class="text-gray-700 text-base" *ngIf="author.work_count">
        <span class="font-bold">Work count:</span>
        <span class="font-bold">{{ author.work_count }}</span>
      </p>
    </div>
  </div>
</a>
