<div class="relative min-h-[600px]">
  <div *ngIf="isAnyAuthor; else noAuthor">
    @if (!loadingAuthors) {
    <app-userlist-item-bookmarks
      [entity]="'authors'"
      [authors]="userAuthors"
    ></app-userlist-item-bookmarks
    >}@else {
    <div class="no-items">
      <p class="text-3xl font-semibold text-center">Loading...</p>
    </div>
    }
  </div>
  <ng-template #noAuthor>
    <div class="no-items">
      <p class="text-3xl font-semibold text-center">No bookmarks</p>
    </div>
  </ng-template>
</div>
