<div class="relative min-h-[600px]">
  <div *ngIf="favouriteAuthorsService.isAnyAuthor; else noAuthor">
    @if (!favouriteAuthorsService.loadingAuthors) {
    <app-userlist-item-bookmarks
      [entity]="'authors'"
      [authors]="favouriteAuthorsService.userAuthors"
    ></app-userlist-item-bookmarks
    >}@else {
    <div class="no-items">
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        Loading...
      </p>
    </div>
    }
  </div>
  <ng-template #noAuthor>
    <div class="no-items">
      <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        No bookmarks
      </p>
    </div>
  </ng-template>
</div>
