<div class="relative w-[300px] min-[450px]:w-96 mb-3 mt-3 min-h-[120px]">
  @if (!loadingGenres) {
  <div class="flex justify-between profile__titles">
    <h4 class="pb-2 font-semibold w-full">
      {{ "favourite genres" | uppercase }}
    </h4>
    <a routerLink="/my-favorite-genres" class="inline-block text-sm genre"
      >edit</a
    >
  </div>
  @if (genres.length > 0) {
  <div class="pt-3">
    @for (genre of genres; track $index) { @if (genre === genres[genres.length -
    1]) {
    {{ " "
    }}<a
      [routerLink]="['/booklist']"
      [queryParams]="
        genre.type
          ? { subject: genre.type + ':' + genre.name }
          : { subject: genre.name }
      "
      class="inline-block text-sm genre"
      >{{ genre.name | symbolReplace : "_" : " " | titlecase }}</a
    >} @else {
    <a
      [routerLink]="['/booklist']"
      [queryParams]="
        genre.type
          ? { subject: genre.type + ':' + genre.name }
          : { subject: genre.name }
      "
      class="inline-block ml-1 text-sm genre"
      >{{ genre.name | symbolReplace : "_" : " " | titlecase }}</a
    >,} }
  </div>
  } @else {
  <div class="no-items">
    <p class="text-xl font-semibold text-center">No favourite genres</p>
  </div>
  } } @else {

  <div class="no-items">
    <p class="text-xl font-semibold text-center">Loading...</p>
  </div>
  }
</div>
