<!-- <div class="menu-container">
  <div class="menu-toggler">
    <fa-icon [icon]="faBell"></fa-icon>
  </div>
  @if(isMenuOpened) {
  <div class="menu">
    <div class="text-left pb-2">
      <h6>{{ "notification" | uppercase }}</h6>
      <a href="#">View all notifications</a>
    </div>
    @for (item of dropMenu; track $index) {
    <div class="menu-item flex gap-5 border-t">
      <div class="menu-wrapper shrink-0">
        <img [src]="item.img" class="menu-img" alt="" />
      </div>
      <div>
        <p>{{ item.user }}</p>
        <p>{{ item.text }}</p>
        <span>{{ item.date }}</span>
      </div>
    </div>
    }
  </div>
  }
</div> -->
