popup-modal {
  display: none;

  .popup-modal {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    overflow: auto;
  }

  .popup-modal__body {
    padding: 20px;
    background: #fff;
  }
}

body.popup-modal__open {
  overflow: hidden;
}

@media (max-width: 500px) {
  popup-modal {
    .popup-modal {
      padding: 20px;
    }

    .popup-modal__body {
      padding: 10px 10px 20px;
      background: #fff;
    }
  }
}
