<div class="pt-5">
  <div class="pb-3">
    <h4 class="profile__titles pb-2 font-semibold text-center sm:text-start">
      {{ user?.displayName + "'s favourite authors" | uppercase }}
    </h4>
  </div>
  <div class="relative min-h-48">
    <div
      class="relative min-h-48 flex flex-wrap justify-center gap-2"
      *ngIf="favouriteAuthorsService.isAnyAuthor; else noAuthor"
    >
      @if (!favouriteAuthorsService.loadingAuthors) { @for (author of
      favouriteAuthorsService.userAuthors.slice(0,5); track author.key) {
      <div class="max-w-52">
        <app-author-item [author]="author"></app-author-item>
      </div>
      }} @else {
      <app-floating-message>
        <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
          Loading...
        </p></app-floating-message
      >
      }
    </div>
    <ng-template #noAuthor>
      <app-floating-message>
        <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
          No favourite authors
        </p></app-floating-message
      >
    </ng-template>
  </div>
</div>
