<section class="pt-[120px]">
  <div class="container-big">
    @if(!loadingUser){
    <div class="flex gap-10" *ngIf="user.id !== 'unknown'; else noUser">
      <div class="max-w-96 flex-shrink-0 h-full">
        <div class="max-h-[500px] h-full">
          <img
            [src]="user.photoURL"
            alt="main cover"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="my-5">
          <p class="mb-2" *ngIf="user.email !== 'unknown'">
            Last time in system:
            <span class="font-semibold">{{
              user.lastSignInTime | date : "medium"
            }}</span>
          </p>
        </div>
      </div>
      <div class="max-w-full w-full">
        <h1 class="font-semibold text-5xl mb-5">
          {{ user.email ?? "" | truncateText : 25 }}
        </h1>
      </div>
    </div>
    <ng-template #noUser>
      <div class="no-items">
        <p class="text-3xl font-semibold">No such user</p>
      </div>
    </ng-template>
    <div class="flex justify-between items-start py-5">
      <div class="relative max-w-full w-full mx-5 min-h-[300px]">
        @if(!loadingBookComments) {
        <h3 class="text-2xl font-semibold pb-2">All user book reviews</h3>
        @if(userBookComments.length) { @for (comment of userBookComments; track
        comment.id) {
        <app-bookitem-comment [comment]="comment"></app-bookitem-comment>
        } } @else {
        <div class="no-items w-full">
          <p class="text-xl font-semibold text-center">
            User has not written any comment
          </p>
        </div>
        } } @else {
        <div class="no-items w-full">
          <p class="text-xl font-semibold text-center">Loading...</p>
        </div>
        }
      </div>
      <div class="relative max-w-full w-full mx-5 min-h-[300px]">
        @if(!loadingAuthorComments) {
        <h3 class="text-2xl font-semibold pb-2">All user author reviews</h3>
        @if(userAuthorComments.length) { @for(comment of userAuthorComments;
        track comment.id) {
        <app-authoritem-comment [comment]="comment"></app-authoritem-comment>
        } } @else{
        <div class="no-items w-full">
          <p class="text-xl font-semibold text-center">
            User has not written any comment
          </p>
        </div>
        } } @else {
        <div class="no-items w-full">
          <p class="text-xl font-semibold text-center">Loading...</p>
        </div>
        }
      </div>
    </div>
    <div class="">
      <app-userlist-item-bookmarks
        [works]="userBooks"
      ></app-userlist-item-bookmarks>
      <app-userlist-item-bookmarks
        [authors]="userAuthors"
      ></app-userlist-item-bookmarks>
    </div>
    } @else {
    <div class=""><p class="text-3xl font-semibold">Loading...</p></div>
    }
  </div>
</section>
