<div class="relative min-h-60 pt-3 md:pt-5">
  @if (!loadingRequests) {@if(allSentRequests.length > 0){
  <div class="flex justify-center flex-wrap gap-3">
    @for (request of allSentRequests; track $index) {
    <app-sent-request-item
      [request]="request"
      (requestDelete)="requestDelete($event)"
    ></app-sent-request-item>
    }
  </div>
  } @else {
  <app-floating-message
    ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      You did not send any request
    </p></app-floating-message
  >
  } } @else {
  <app-floating-message
    ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      Loading...
    </p></app-floating-message
  >
  }
</div>
