<div class="relative min-h-[260px]">
  <h4
    class="pb-2 font-semibold text-xl sm:text-2xl md:text-3xl text-center sm:text-start"
  >
    Finished challenges
  </h4>
  @if (!loadingFinishedChallenges) { @if(finishedChallenges.length > 0) {@for
  (challenge of paginationLiteService.visibleElements; track $index) {
  <app-reading-challenge-item
    [challenge]="challenge"
    [isFinished]="true"
    (challengeOnRemove)="removeChallenge($event)"
  ></app-reading-challenge-item>
  }
  <div class="pagination mb-5" *ngIf="paginationLiteService.numPages() > 1">
    <button
      class="pagination__btn"
      (click)="paginationLiteService.prevPage()"
      [disabled]="paginationLiteService.currentPage === 1"
    >
      Previous
    </button>
    <span class="pagination__text"
      >Current Page: {{ paginationLiteService.currentPage }}</span
    >
    <button
      class="pagination__btn"
      (click)="paginationLiteService.nextPage()"
      [disabled]="
        paginationLiteService.currentPage === paginationLiteService.numPages()
      "
    >
      Next
    </button>
  </div>
  } @else {
  <app-floating-message
    ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      You don't have any finished challenge
    </p></app-floating-message
  >
  } } @else {
  <app-floating-message>
    <p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
      Loading...
    </p></app-floating-message
  >
  }
</div>
