<div class="mb-3 md:pb-5">
  <div class="pb-1 md:pb-2 lg:pb-3">
    <h3
      class="text-xl lg:text-2xl font-semibold text-center md:text-start mb-2 md:mb-3"
    >
      Favorite {{ entity | titlecase }}
    </h3>
    <div class="flex gap-3 md:gap-5 text-center md:text-start">
      <p>
        <span class="font-semibold">Bookmarks:</span>
        {{ works.length || authors.length }}
      </p>
      <p>
        <span class="font-semibold">Number of pages:</span>
        {{ paginationLiteService.numPages() }}
      </p>
    </div>
  </div>
  <div class="flex gap-3 flex-wrap justify-center">
    @if (entity === 'works') { @for (work of
    paginationLiteService.visibleElements; track work.key) {
    <app-work-item [work]="work"></app-work-item>
    }} @else { @for (author of paginationLiteService.visibleElements; track
    author.key) {<app-author-item [author]="author"></app-author-item>}}
  </div>
  <div class="pagination mb-5">
    <button
      class="pagination__btn"
      (click)="paginationLiteService.prevPage()"
      [disabled]="paginationLiteService.currentPage === 1"
    >
      Previous
    </button>
    <span class="pagination__text"
      >Current Page: {{ paginationLiteService.currentPage }}</span
    >
    <button
      class="pagination__btn"
      (click)="paginationLiteService.nextPage()"
      [disabled]="
        paginationLiteService.currentPage === paginationLiteService.numPages()
      "
    >
      Next
    </button>
  </div>
</div>
