<section class="pt-[120px] pb-10">
  <div class="container-big">
    <h2 class="text-3xl font-semibold mb-3">{{ quoteBtnText }} quote</h2>
    <form [formGroup]="quoteForm" (ngSubmit)="onQuoteSubmit()">
      <label for="text" class="block mb-2 text-xl font-semibold"
        >Quote text</label
      >
      <textarea
        name="text"
        id="text"
        rows="6"
        class="block p-2.5 w-full text-base resize-none text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        [placeholder]="'Write your review here...'"
        formControlName="text"
        [class.textarea-error]="quoteForm.controls.text.touched && quoteForm.controls.text.errors?.['required']"
      ></textarea>
      <div
        class="validate-error mt-2"
        *ngIf="quoteForm.controls.text.touched && quoteForm.controls.text.errors?.['required']"
      >
        You should write a quote
      </div>
      <div class="flex items-center justify-between pt-5">
        <div class="flex gap-10">
          <div>
            <div class="my-5 flex items-center gap-[15px] w-full">
              <label for="author" class="text-xl font-semibold flex-shrink-0"
                >Quote author</label
              >
              <input
                type="text"
                id="author"
                class="block flex-shrink-0 px-3 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                formControlName="author"
                placeholder="Write quote author here..."
              />
            </div>
            <p
              class="validate-error pt-2 block flex-shrink-0"
              *ngIf="
        quoteForm.controls.author.touched && quoteForm.controls.author.errors?.['required']
        "
            >
              You should write an author
            </p>
          </div>
          <div>
            <div class="my-5 flex items-center gap-[15px] w-full">
              <label
                for="workTitle"
                class="tooltip text-xl font-semibold flex-shrink-0 cursor-pointer"
                >Quote source *
                <span class="tooltipText font-normal"
                  >This is not a required field.</span
                ></label
              >
              <input
                type="text"
                id="workTitle"
                class="block flex-shrink-0 px-3 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                formControlName="workTitle"
                placeholder="Write quote source here..."
              />
            </div>
          </div>
        </div>
        <div class="flex gap-5">
          <button
            type="button"
            class="flex-1 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-normal rounded-lg text-[19px] px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 disabled:text-[#c6c6c6] disabled:bg-transparent disabled:border-[#c6c6c6] disabled:border"
            (click)="cancelManipulate()"
            [disabled]="quoteForm.untouched"
          >
            Cancel
          </button>
          <app-button
            [button-styles]="'width: 100%;'"
            [text]="quoteBtnText + ' quote'"
            [disabled]="quoteForm.invalid || quoteForm.untouched"
          />
        </div>
      </div>
    </form>
    <div class="pt-5">
      <div class="mb-5" *ngIf="quoteActionResult">
        <p
          class="text-red-600"
          [class.successfull]="quoteActionResult.isSuccessfull"
        >
          {{ quoteActionResult.message }}
        </p>
      </div>
      <h2 class="text-3xl font-semibold mb-3">All quotes</h2>
      <div class="relative min-h-60">
        @if (!loadingQuotes) { @if (quotes.length > 0) {
        <app-quotes-list
          [quotes]="quotes"
          (onEdit)="editUserQuote($event)"
          (onDelete)="deleteUserQuote($event)"
        ></app-quotes-list
        >} @else {
        <div class="no-items">
          <p class="text-3xl font-semibold text-center">There are no quotes</p>
        </div>
        } } @else {
        <div class="no-items">
          <p class="text-3xl font-semibold text-center">Quotes loading...</p>
        </div>
        }
      </div>
    </div>
  </div>
</section>
