<section class="pt-[120px] pb-10">
  <div class="container-big">
    <h2 class="text-3xl font-semibold mb-3">Add quote</h2>
    <form [formGroup]="quoteForm" (ngSubmit)="onQuoteSubmit()">
      <label for="text" class="block mb-2 text-xl font-semibold"
        >Quote text</label
      >
      <textarea
        name="text"
        id="text"
        rows="6"
        class="block p-2.5 w-full text-base resize-none text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500"
        [placeholder]="'Write your review here...'"
        formControlName="text"
        [class.textarea-error]="quoteForm.controls.text.touched && quoteForm.controls.text.errors?.['required']"
      ></textarea>
      <div
        class="validate-error mt-2"
        *ngIf="quoteForm.controls.text.touched && quoteForm.controls.text.errors?.['required']"
      >
        You should write a quote
      </div>
      <div class="flex items-center justify-between pt-5">
        <div class="flex gap-10">
          <div>
            <div class="my-5 flex items-center gap-[15px] w-full">
              <label for="author" class="text-xl font-semibold flex-shrink-0"
                >Quote author</label
              >
              <input
                type="text"
                id="author"
                class="block flex-shrink-0 px-3 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                formControlName="author"
                placeholder="Write quote author here..."
              />
            </div>
            <p
              class="validate-error pt-2 block flex-shrink-0"
              *ngIf="
        quoteForm.controls.author.touched && quoteForm.controls.author.errors?.['required']
        "
            >
              You should write an author
            </p>
          </div>
          <div>
            <div class="my-5 flex items-center gap-[15px] w-full">
              <label
                for="workTitle"
                class="tooltip text-xl font-semibold flex-shrink-0 cursor-pointer"
                >Quote source *
                <span class="tooltipText font-normal"
                  >This is not a required field.</span
                ></label
              >
              <input
                type="text"
                id="workTitle"
                class="block flex-shrink-0 px-3 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                formControlName="workTitle"
                placeholder="Write quote source here..."
              />
            </div>
          </div>
        </div>
        <app-button
          [button-styles]="'width: 100%;'"
          [text]="'Add quote'"
          [disabled]="quoteForm.invalid || quoteForm.untouched"
        />
      </div>
    </form>
    <div class="pt-5">
      <div class="mb-5" *ngIf="quoteActionResult">
        <p
          class="text-red-600"
          [class.successfull]="quoteActionResult.isSuccessfull"
        >
          {{ quoteActionResult.message }}
        </p>
      </div>
      <h2 class="text-3xl font-semibold mb-3">All quotes</h2>
      <app-quotes-list
        [quotes]="quotes"
        (onEdit)="editUserQuote($event)"
        (onDelete)="deleteUserQuote($event)"
      ></app-quotes-list>
    </div>
  </div>
</section>
