.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  background-color: #aaaaaa;
  padding-right: 40px;
  color: #000;
}
.input-search::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #000;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus {
  color: #000;
}

.btn-search:focus ~ .input-search {
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  color: #000;
}

.input-search:focus {
  width: 250px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

@media (max-width: 1350px) {
  .btn-search:focus ~ .input-search,
  .input-search:focus {
    width: 180px;
  }
  .input-search::placeholder {
    font-size: 16px;
    letter-spacing: 1.5px;
  }
  .input-search {
    padding-right: 30px;
  }
  .input-search,
  .btn-search {
    width: 40px;
    height: 40px;
  }
}
