<section class="min-h-screen">
  <div
    class="flex items-center flex-col container mx-auto min-h-screen justify-center"
    *ngIf="!resultMessage; else reseted"
  >
    <form
      class="max-w-lg w-full mt-10 pb-5 text-center"
      [formGroup]="resetPassForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-4xl font-bold mb-1">Reset password</h2>
      <!-- @if(failedLoginSet.isFailed) {
      <p class="text-black bg-red-500 p-3 my-5">
        {{ failedLoginSet.message }}
      </p>
      } -->
      <!-- email -->
      <app-input
        [type]="'email'"
        [label]="'Email'"
        [placeholder]="'Email'"
        formControlName="email"
        [isError]="
          resetPassForm.controls.email.invalid &&
          resetPassForm.controls.email.touched
        "
      ></app-input>
      @if (resetPassForm.controls.email.invalid &&
      resetPassForm.controls.email.touched ) {
      <div
        class="validate-error mt-2"
        *ngIf="resetPassForm.controls.email.errors?.['required']"
      >
        Email is required
      </div>
      <div
        class="validate-error mt-2"
        *ngIf="resetPassForm.controls.email.errors?.['email']"
      >
        {{ resetPassForm.controls.email.value }} is not a valid email
      </div>
      }
      <app-button
        [button-styles]="'margin-top: 20px'"
        [text]="'Reset'"
        [disabled]="resetPassForm.invalid || resetPassForm.untouched"
      />
    </form>

    <div class="text-center">
      <p class="pb-3">
        Do you recall your password?
        <a routerLink="/login" class="text-blue-700 block mt-2">Sign-in</a>
      </p>
    </div>
  </div>
  <ng-template #reseted>
    <div
      class="flex items-center flex-col container mx-auto min-h-screen justify-center"
    >
      <p class="font-semibold text-2xl pb-5">{{ resultMessage }}</p>
      <p class="text-center">
        <a routerLink="/login" class="text-blue-700 text-xl block mt-2"
          >Back to login page</a
        >
      </p>
    </div>
  </ng-template>
</section>
