<a
  class="item__card rounded inline-block overflow-hidden shadow-lg relative"
  [routerLink]="['/userlist', user.id]"
>
  <div>
    <img class="item__image" [src]="user.photoURL" alt="author" />
  </div>
  <div
    class="item__description px-6 py-4 absolute w-full h-full top-0 bg-white bg-opacity-70 opacity-0"
  >
    <div class="item__description-info">
      <h3 class="font-bold text-xl mb-2" *ngIf="user.email">
        {{ user.email | truncateText : 20 }}
      </h3>
      <p class="text-gray-700 text-base">
        Last time in system:
        <span class="font-semibold">{{
          user.lastSignInTime | date : "medium"
        }}</span>
      </p>
    </div>
  </div>
</a>
