<div class="mt-2 md:mt-4 mb-5 md:mb-10 h-[520px] overflow-hidden">
  <h4 class="font-semibold text-lg md:text-xl lg:text-2xl mt-3 mb-5">
    {{ title }}
  </h4>
  <div #swiperContainer class="swiper-container">
    <div class="swiper-wrapper">
      @if(contents.length) {
      <ng-container *ngFor="let book of contents">
        <div
          (mouseenter)="setHoverBook(book)"
          (mouseleave)="clearHoverBook()"
          class="swiper-slide relative"
        >
          <app-book-item [book]="book"></app-book-item>
        </div>
      </ng-container>
      }
    </div>
  </div>

  <a
    *ngIf="carouselLink"
    [routerLink]="['/booklist']"
    [queryParams]="
      queryType === 'subject'
        ? { subject: carouselLink }
        : { author: carouselLink }
    "
    class="font-medium text-base md:text-lg inline-block mt-2 md:mt-5 ml-2 text-gray-600 hover:underline"
    >See more of {{ title }}</a
  >
</div>
