<section class="min-h-screen">
  <div class="flex items-center flex-col container mx-auto min-h-screen pt-10">
    <div>
      <img src="/assets/logo/png/logo-no-background.png" alt="" class="w-80" />
    </div>
    <form
      class="max-w-lg w-full mt-10 text-center"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <h2 class="text-4xl font-bold mb-1">Sign-In</h2>
      <app-input
        [type]="'email'"
        [label]="'Email'"
        [placeholder]="'Email'"
        formControlName="email"
      ></app-input>
      <app-input
        [type]="'password'"
        [label]="'Password'"
        [placeholder]="'Password'"
        formControlName="password"
      ></app-input>
      <app-button [button-styles]="'margin-top: 40px'" />
    </form>
  </div>
</section>
