<div>
  @if(paginationService.currentPageData$ | async) {
  <form
    class="flex mb-7"
    [formGroup]="searchAuthorForm"
    (ngSubmit)="onSearch()"
  >
    <div>
      <app-input
        [type]="'text'"
        [label]="'Author'"
        [placeholder]="'Author name'"
        formControlName="authorName"
        [isError]="
          searchAuthorForm.controls.authorName.invalid &&
          searchAuthorForm.controls.authorName.touched
        "
      ></app-input>
      @if (searchAuthorForm.controls.authorName.invalid &&
      searchAuthorForm.controls.authorName.touched ) {
      <div
        class="validate-error mt-2"
        *ngIf="searchAuthorForm.controls.authorName.errors?.['required']"
      >
        Search name is required
      </div>
      }
    </div>
    <app-button
      [button-styles]="'margin: 10px 0 0 40px'"
      [text]="'Search'"
      [disabled]="searchAuthorForm.controls.authorName.errors?.['required']"
    />
  </form>

  <div *ngIf="paginationService.currentPageData$ | async as authorsList">
    <p class="mb-2">
      <span class="font-semibold">Found results:</span> {{ numFound }}
    </p>
    <div class="author__list">
      @if(authorsList.length) { @for (author of authorsList; track author.key) {
      <a
        class="author__list-link bg-zinc-300 font-semibold"
        [routerLink]="['/authorlist', author.key]"
        >{{ author.name }}</a
      >
      } }@else if (loadingAuthors) {
      <p>Authors loading!</p>
      }@else {
      <p>There is no author with such name</p>
      }
    </div>
  </div>

  <!-- pagination -->
  <div class="pagination">
    <button
      class="pagination__btn"
      (click)="prevPage()"
      [disabled]="paginationService.isFirstPage"
    >
      Previous
    </button>
    <div
      *ngIf="paginationService.currentPage$ | async as currentPage"
      class="pagination__text"
    >
      Current Page: {{ currentPage }}
    </div>
    <button
      (click)="nextPage()"
      class="pagination__btn"
      [disabled]="paginationService.isLastPage"
    >
      Next
    </button>
  </div>
  <a
    routerLink="/authorlist"
    class="font-medium text-lg inline-block mt-3 ml-2 text-gray-600 hover:underline"
    >Go to the Authors page</a
  >
  } @else {
  <p class="mt-5">Loading!</p>
  }
</div>
