.author__list {
  display: flex;
  justify-content: space-between;
  gap: 10px 0;
  flex-wrap: wrap;

  .author__list-link {
    flex: 0 0 49%;
    padding: 10px;
  }
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  &__text {
    font-weight: 600;
  }

  &__btn {
    padding: 10px 15px;
    background: #5c5c5c;
    color: #fff;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2c2c2c;
    }

    &:disabled {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 600px) {
  .pagination {
    margin-top: 15px;
    gap: 20px;
    &__btn {
      padding: 10px;
    }
  }
}

@media (max-width: 500px) {
  .author__list {
    flex-direction: column;
    .author__list-link {
      flex: auto;
    }
  }
}
