<div>
  @if(currentPageData$ | async) {
  <form
    class="flex mb-7"
    [formGroup]="searchAuthorForm"
    (ngSubmit)="onSearch()"
  >
    <div>
      <app-input
        [type]="'text'"
        [label]="'Author'"
        [placeholder]="'Author name'"
        formControlName="authorName"
        [isError]="
          searchAuthorForm.controls.authorName.invalid &&
          searchAuthorForm.controls.authorName.touched
        "
      ></app-input>
      @if (searchAuthorForm.controls.authorName.invalid &&
      searchAuthorForm.controls.authorName.touched ) {
      <div
        class="validate-error mt-2"
        *ngIf="searchAuthorForm.controls.authorName.errors?.['required']"
      >
        Search name is required
      </div>
      }
    </div>
    <app-button
      [button-styles]="'margin: 10px 0 0 40px'"
      [text]="'Search'"
      [disabled]="searchAuthorForm.invalid || searchAuthorForm.untouched"
    />
  </form>

  <div *ngIf="currentPageData$ | async as authorsList">
    <p class="mb-2">
      <span class="font-semibold">Found results:</span> {{ numFound }}
    </p>
    <div class="author__list">
      @if(authorsList) { @for (author of authorsList; track author.key) {
      <a
        class="author__list-link bg-zinc-300 font-semibold"
        [routerLink]="['/authorlist', author.key]"
        >{{ author.name }}</a
      >
      } }@else {
      <p>none</p>
      }
    </div>
  </div>
  <!-- pagination -->

  <div>
    <button (click)="prevPage()">Previous</button>
    <div *ngIf="currentPage$ | async as currentPage">
      Current Page: {{ currentPage }}
    </div>
    <button (click)="nextPage()">Next</button>
  </div>
  <a routerLink="authorlist">Go to the Authors page</a>
  } @else {
  <p>Loading!</p>
  }

  <ng-template #noAuthors> There is no author with such name </ng-template>
</div>
