<footer>
  <div class="footer">
    <div class="row row__socials">
      <a href="https://github.com/ShadowDrake21" target="_blank"
        ><fa-icon class="footer__icon" [icon]="faGithub"></fa-icon
      ></a>
      <a href="https://twitter.com/ShadowDrake_21" target="_blank"
        ><fa-icon class="footer__icon" [icon]="faTwitter"></fa-icon
      ></a>
      <a href="https://t.me/Drake21" target="_blank"
        ><fa-icon class="footer__icon" [icon]="faTelegram"></fa-icon
      ></a>
      <a
        href="www.linkedin.com/in/dmytro-krapyvianskyi-3854422aa"
        target="_blank"
        ><fa-icon class="footer__icon" [icon]="faLinkedin"></fa-icon
      ></a>
    </div>

    <div class="row">
      <ul>
        <li><a routerLink="/contact-me">Contact me</a></li>
        <li><a routerLink="/about-developer">About developer</a></li>
        <li><a href="#">Portfolio</a></li>
      </ul>
    </div>

    <div class="row">
      © 2024 Dmytro (Dmitrii) Krapyvianskyi a.k.a Drake21 | All rights reserved
    </div>
  </div>
</footer>
