<div class="relative min-h-[260px] pt-5">
  <h4 class="pb-2 font-semibold text-3xl">Active challenges</h4>
  @if (! loadingActiveChallenges) {@if(activeChallenges.length > 0) { @for
  (challenge of paginationLiteService.visibleElements; track $index) {
  <app-reading-challenge-item
    [challenge]="challenge"
    [email]="email"
    (challengeOnRemove)="removeChallenge($event)"
    (challengeOnUpdate)="updateChallenge($event)"
    (challengeWhileUpdate)="challengeWhileEditing = $event"
  ></app-reading-challenge-item>
  }}@else {
  <div class="no-items">
    <p class="text-3xl font-semibold">You don't have any active challenge</p>
  </div>
  }
  <div class="pagination mb-5">
    <button
      class="pagination__btn"
      (click)="paginationLiteService.prevPage()"
      [disabled]="
        paginationLiteService.currentPage === 1 || challengeWhileEditing
      "
    >
      Previous
    </button>
    <span class="pagination__text"
      >Current Page: {{ paginationLiteService.currentPage }}</span
    >
    <button
      class="pagination__btn"
      (click)="paginationLiteService.nextPage()"
      [disabled]="
        paginationLiteService.currentPage ===
          paginationLiteService.numPages() || challengeWhileEditing
      "
    >
      Next
    </button>
  </div>
  }@else {
  <div class="no-items"><p class="text-3xl font-semibold">Loading...</p></div>
  }
</div>
