<section class="filter__section rounded-xl">
  <form action="" class="filter__form p-5">
    <div class="filter__item">
      <h3 class="filter__item-title">Filters</h3>
      <label for="fiveStars" class="filter__item-label">
        <input type="checkbox" id="fiveStars" class="filter__item-checkbox" />
        <div class="filter__item-stars">
          <fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon
          ><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon
          ><fa-icon [icon]="faStar"></fa-icon>
        </div>
      </label>
      <label for="fourStars" class="filter__item-label">
        <input type="checkbox" id="fourStars" class="filter__item-checkbox" />
        <div class="filter__item-stars">
          <fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon
          ><fa-icon [icon]="faStar"></fa-icon><fa-icon [icon]="faStar"></fa-icon
          ><fa-icon [icon]="faStar" class="text-gray-300"></fa-icon>
        </div>
      </label>
      <label for="threeStars" class="filter__item-label">
        <input type="checkbox" id="threeStars" class="filter__item-checkbox" />
        <div class="filter__item-stars">
          <fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon>
        </div>
      </label>
      <label for="twoStars" class="filter__item-label">
        <input type="checkbox" id="twoStars" class="filter__item-checkbox" />
        <div class="filter__item-stars">
          <fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon>
        </div>
      </label>
      <label for="oneStar" class="filter__item-label">
        <input type="checkbox" id="oneStar" class="filter__item-checkbox" />
        <div class="filter__item-stars">
          <fa-icon class="filter__item-star" [icon]="faStar"></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon
          ><fa-icon
            class="filter__item-star"
            [icon]="faStar"
            class="text-gray-300"
          ></fa-icon>
        </div>
      </label>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Language</h3>
      <select
        name="language"
        class="filter__item-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="0" class="filter__item-select__option">-Any-</option>
        <option value="pl" class="filter__item-select__option">Polish</option>
        <option value="en" class="filter__item-select__option">English</option>
        <option value="ru" class="filter__item-select__option">Russian</option>
      </select>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Genres</h3>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
      <label for="adventure" class="filter__item-label">
        <input type="checkbox" id="adventure" class="filter__item-checkbox" />
        <p class="filter__item-text">Adventure</p>
      </label>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Year</h3>
      <label for="2024" class="filter__item-label">
        <input type="checkbox" id="2024" class="filter__item-checkbox" />
        <p class="filter__item-text">2024</p>
      </label>
      <label for="2023" class="filter__item-label">
        <input type="checkbox" id="2023" class="filter__item-checkbox" />
        <p class="filter__item-text">2023</p>
      </label>
      <label for="2022" class="filter__item-label">
        <input type="checkbox" id="2022" class="filter__item-checkbox" />
        <p class="filter__item-text">2022</p>
      </label>
      <label for="2021" class="filter__item-label">
        <input type="checkbox" id="2021" class="filter__item-checkbox" />
        <p class="filter__item-text">2021</p>
      </label>
      <label for="2020" class="filter__item-label">
        <input type="checkbox" id="2020" class="filter__item-checkbox" />
        <p class="filter__item-text">2020</p>
      </label>
      <label for="2019" class="filter__item-label">
        <input type="checkbox" id="2019" class="filter__item-checkbox" />
        <p class="filter__item-text">2019</p>
      </label>
      <p class="filter__text mb-[15px]">or</p>
      <label for="year" class="filter__item-label">
        <input
          type="number"
          id="year"
          class="filter__item-input block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Year"
          value="2024"
        />
      </label>
    </div>
    <app-button text="Search" button-styles="width: 100%;"></app-button>
  </form>
</section>
