<section class="filter__section rounded-xl">
  <form
    action=""
    class="filter__form p-5"
    [formGroup]="filterForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="filter__item">
      <h3 class="filter__item-title">Author</h3>
      <label for="author" class="filter__item-label">
        <input
          type="text"
          id="author"
          class="filter__item-input block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Rebecca Kuang"
          formControlName="author"
          (change)="
            disabledUnusedFields(
              !!filterForm.controls.author.value,
              'genre',
              'yearFrom',
              'yearTo',
              'sorting'
            )
          "
        />
      </label>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Genres</h3>
      <select
        name="genre"
        class="filter__item-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        formControlName="genre"
        (change)="
          disabledUnusedFields(!!filterForm.controls.genre.value, 'author')
        "
        [class.error]="
          filterForm.controls.genre.touched &&
          filterForm.controls.genre.enabled &&
          !filterForm.value.genre
        "
      >
        <option [ngValue]="null" disabled>Choose genre</option>
        @for (genre of filterContent.genres; track $index) {
        <option [ngValue]="genre.text" class="filter__item-select__option">
          {{ genre.text | titlecase }}
        </option>
        }
      </select>
      <p
        class="text-red-600 pt-2"
        *ngIf="
          filterForm.controls.genre.touched &&
          filterForm.controls.genre.enabled &&
          !filterForm.value.genre
        "
      >
        Please, choose a genre
      </p>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Years</h3>
      <p class="my-2 lg:my-3">From</p>
      <label for="yearFrom" class="filter__item-label">
        <input
          type="number"
          id="yearFrom"
          class="filter__item-input block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Year from"
          formControlName="yearFrom"
          (change)="
            disabledUnusedFields(!!filterForm.controls.yearFrom.value, 'author')
          "
        />
      </label>
      <p class="my-2 lg:my-3">to</p>
      <label for="yearTo" class="filter__item-label">
        <input
          type="number"
          id="yearFrom"
          class="filter__item-input block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Year to"
          formControlName="yearTo"
          (change)="
            disabledUnusedFields(!!filterForm.controls.yearTo.value, 'author')
          "
        />
      </label>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Limit</h3>
      <label for="limit" class="filter__item-label">
        <input
          type="number"
          id="limit"
          class="filter__item-input block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="100"
          formControlName="limit"
        />
      </label>
      <p
        class="text-red-600 pt-2"
        *ngIf="
        filterForm.controls.limit.errors?.['min']
      "
      >
        Limit should be more or equal to 1
      </p>
    </div>
    <div class="filter__item">
      <h3 class="filter__item-title">Sorting</h3>
      <label for="sorting" class="filter__item-label">
        <select
          name="sorting"
          class="filter__item-select bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          formControlName="sorting"
          (change)="
            disabledUnusedFields(!!filterForm.controls.genre.value, 'author')
          "
        >
          <option [ngValue]="null" disabled>Choose type</option>
          @for (sorting of filterContent.sorting; track $index) {
          <option [ngValue]="sorting.text" class="filter__item-select__option">
            {{ sorting.text | titlecase }}
          </option>
          }
        </select>
      </label>
    </div>
    <button
      type="button"
      class="clean__btn w-full text-gray-900 transition-all hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 disabled:border-[#c6c6c6] disabled:text-[#c6c6c6]"
      (click)="formClean()"
      [disabled]="!filterForm.dirty"
    >
      Clean all
    </button>
    <app-button
      text="Search"
      button-styles="width: 100%;"
      [disabled]="
        filterForm.invalid ||
        !filterForm.dirty ||
        (filterForm.controls.genre.enabled && !filterForm.value.genre)
      "
    ></app-button>
  </form>
</section>
