<section class="container-slider">
  @if(loadingFantasy) {
  <p>Loading!</p>
  } @else {
  <app-carousel
    [contents]="booksFantasy"
    [title]="'Fantasy'"
    [carouselLink]="'fantasy'"
  ></app-carousel>
  } @if(loadingFantasy) {
  <p>Loading!</p>
  } @else {
  <app-carousel
    [contents]="booksSport"
    [title]="'Adventures'"
    [carouselLink]="'adventures'"
  ></app-carousel>
  } @if(loadingLove) {
  <p>Loading!</p>
  } @else {
  <app-carousel
    [contents]="booksLove"
    [title]="'Love'"
    [carouselLink]="'love'"
  ></app-carousel>
  } @if(loadingChildren) {
  <p>Loading!</p>
  } @else {
  <app-carousel
    [contents]="booksChildren"
    [title]="'Children\'s'"
    [carouselLink]="'children'"
  ></app-carousel>
  }
</section>
<button (click)="onLogout()">Logout</button>
