<section class="pt-[120px]">
  <div class="container-big">
    <div>
      <h3 class="font-semibold text-3xl mb-5">Books by genre</h3>
      @if(loadingFantasy) {
      <div class="loading">
        <p class="loading__text">Loading...</p>
      </div>
      } @else {
      <app-carousel
        [contentsBooks]="booksFantasy"
        [title]="'Fantasy'"
        [carouselLink]="'fantasy'"
      ></app-carousel>
      } @if(loadingFantasy) {
      <div class="loading">
        <p class="loading__text">Loading...</p>
      </div>
      } @else {
      <app-carousel
        [contentsBooks]="booksSport"
        [title]="'Adventures'"
        [carouselLink]="'adventures'"
      ></app-carousel>
      } @if(loadingLove) {
      <div class="loading">
        <p class="loading__text">Loading...</p>
      </div>
      } @else {
      <app-carousel
        [contentsBooks]="booksLove"
        [title]="'Love'"
        [carouselLink]="'love'"
      ></app-carousel>
      } @if(loadingChildren) {
      <div class="loading">
        <p class="loading__text">Loading...</p>
      </div>
      } @else {
      <app-carousel
        [contentsBooks]="booksChildren"
        [title]="'Children\'s'"
        [carouselLink]="'children'"
      ></app-carousel>
      }
    </div>
  </div>
</section>
<section class="container-big">
  <div>
    <h3 class="font-semibold text-3xl">Authors by name</h3>
    <app-authors-list></app-authors-list>
  </div>
</section>
<section class="bg-stone-300">
  <app-about-user></app-about-user>
</section>
