<section class="pt-[120px]">
  <div class="container-big">
    @if (!loadingAuthor) {
    <div class="flex gap-10">
      <div class="max-w-96 flex-shrink-0">
        <div class="max-h-[500px] h-full">
          <img
            [src]="
              mainPhoto
                ? (mainPhoto | authorImage : 'L' : 'id')
                : '/assets/images/no author image.png'
            "
            alt="author image"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="my-5">
          <p *ngIf="author.birth_date" class="mb-2">
            Date of birth:
            <span class="font-semibold">{{
              author.birth_date | date : "longDate"
            }}</span>
          </p>
          <p *ngIf="author.death_date" class="mb-2">
            Date of death:
            <span class="font-semibold">{{
              author.death_date | date : "longDate"
            }}</span>
          </p>
          <p *ngIf="author.created" class="mb-2">
            Page created:
            <span class="font-semibold">{{
              author.created.value | date : "medium"
            }}</span>
          </p>
          <p *ngIf="author.last_modified" class="mb-2">
            Last modified:
            <span class="font-semibold">{{
              author.last_modified.value | date : "medium"
            }}</span>
          </p>
        </div>

        <div class="mb-3" *ngIf="author.links">
          <h3 class="text-2xl font-semibold">Links</h3>
          <ul class="list-disc pl-5">
            @for (link of author.links; track $index) {
            <li
              class="mb-2 underline text-blue-700 transition-colors hover:text-blue-800"
            >
              <a [href]="link.url" target="_blank">{{ link.title }}</a>
            </li>
            }
            <li
              *ngIf="author.wikipedia as wikipedia"
              class="mb-2 underline text-blue-700 transition-colors hover:text-blue-800"
            >
              <a [href]="wikipedia" target="_blank">Wikipedia</a>
            </li>
          </ul>
        </div>
        <div class="mb-3">
          @if(fullRemoteIdsLinks) {
          <h3 class="text-2xl font-semibold">Services</h3>
          <ul class="list-disc pl-5">
            @for (remoteLink of fullRemoteIdsLinks; track $index) {
            <li
              class="mb-2 underline text-blue-700 transition-colors hover:text-blue-800"
            >
              <a [href]="remoteLink.link" target="_blank">{{
                remoteLink.text | titlecase
              }}</a>
            </li>
            }
          </ul>
          }
        </div>
      </div>
      <div class="max-w-full w-full overflow-auto">
        <h1 class="font-semibold text-5xl mb-5">
          {{ author.name | truncateText : 50 }}
        </h1>
        <div class="mb-5" *ngIf="isString(author.bio); else noBio">
          <h3 class="text-2xl font-semibold pb-2">Description</h3>
          <p>
            {{ author.bio | truncateText : bioShowLength : isBioFullText }}
            <span class="ml-1"
              ><button
                type="button"
                (click)="showCloseBio()"
                class="underline text-blue-700 transition-colors hover:text-blue-800"
              >
                {{ bioBtn }}
              </button></span
            >
          </p>
        </div>
        <ng-template #noBio
          ><p class="my-5">
            This author is waiting that someone will write for him or her a
            normal bio info XD
          </p></ng-template
        >
        <div class="flex justify-between pb-10">
          <div class="mb-3 max-w-[50%] w-full">
            <app-item-scroll-list
              [itemObj]="alternateNamesListObject"
              [listTitle]="'Alternative names'"
            ></app-item-scroll-list>
          </div>
          <div class="mb-3 max-w-[50%] w-full">
            <app-item-scroll-list
              [itemObj]="soutceRecordsListObject"
              [listTitle]="'Source Records'"
            ></app-item-scroll-list>
          </div>
        </div>
        @if (!loadingBooks) {
        <div class="overflow-hidden max-w-full w-full">
          <app-carousel
            [contents]="authorBooks"
            [title]="'Author books'"
            [queryType]="'author'"
            [carouselLink]="author.name"
          ></app-carousel>
        </div>
        } @else {
        <div class="loading">
          <p class="loading__text">Loading...</p>
        </div>
        }
      </div>
    </div>
    <div class="flex justify-between items-start py-10">
      <div class="max-w-full w-full mx-5">
        <app-authoritem-comments-section
          [authorId]="authorId"
          [neededUserInfo]="neededUserInfo"
        ></app-authoritem-comments-section>
      </div>
      <div class="w-60">
        <h3 class="text-2xl font-semibold pb-2 text-center">Bookmark</h3>
        <p class="mb-5 text-center">
          {{ isBookmarked ? "Bookmarked" : "Not bookmarked" }}
        </p>
        <app-bookmark-button
          [isBookmarked]="isBookmarked"
          (bookmarkedChange)="getBookmarkedChange($event)"
          class="text-center max-w-full w-full block"
        ></app-bookmark-button>
      </div>
    </div>
    } @else {
    <div class="no-items"><p class="text-3xl font-semibold">Loading...</p></div>
    }
  </div>
</section>
