.user-actions {
  div {
    fa-icon {
      font-size: 20px;
    }
  }
}

.dropdown {
  background: #fff;
  color: rgb(122, 122, 122);
  padding: 15px;
  width: 400px;
  position: absolute;
  right: -19px;
  top: 52px;
  font-size: 14px;
  line-height: 18px;
}

.profile-dropdown {
  width: 250px;
}

.dropdown-item {
  cursor: pointer;
  padding: 8px 5px;
  text-align: left;
}

.user-actions__list {
  li {
    &:hover {
      background-color: #303030;
      color: #fff;
    }
  }
}

.dropdown-wrapper {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;

  .dropdown-img {
    width: auto;
    height: 100%;
    object-fit: cover;
  }
}
