<section class="pt-[100px] md:pt-[120px] pb-10">
  <div class="container-big">
    <h1
      class="font-semibold text-xl sm:text-2xl md:text-3xl lg:text-4xl mb-3 md:mb-5 text-center"
    >
      About developer
    </h1>
    <div
      class="flex gap-3 md:gap-5 lg:gap-7 xl:gap-10 flex-col-reverse lg:flex-row items-center lg:items-start"
    >
      <div
        class="w-full lg:w-3/4 xl:w-full p-3 lg:p-5 border-2 border-black rounded-2xl lg:rounded-tl-2xl"
      >
        @for (item of aboutDeveloperInfo; track $index) {
        <div class="mb-2 lg:mb-4 text-center lg:text-start">
          <h3 class="text-xl lg:text-2xl font-semibold pb-1 md:pb-2 italic">
            {{ item.title }}
          </h3>
          <p class="about-me-paragraph">
            {{ item.text }}
          </p>
        </div>
        }
      </div>
      <div class="w-1/2">
        <img
          [src]="myPhoto"
          alt="My photo"
          class="w-full h-full object-cover rounded-2xl lg:rounded-br-2xl"
        />
      </div>
    </div>
  </div>
</section>
