<section class="pt-[120px]">
  <div class="container-big">
    <mat-tab-group
      (selectedTabChange)="selectedTabChange($event)"
      animationDuration="0ms"
      #tabGroup
    >
      <mat-tab label="My friends">
        @if(selectedTab === 0) {<app-friends-list
          [friends]="friends"
        ></app-friends-list
        >}
      </mat-tab>
      <mat-tab label="Inbox requests">
        @if(selectedTab === 1) {<app-inbox-requests
          [allGottenRequests]="allGottenRequests"
          [user]="user"
          (isUpdate)="getContentInbox()"
        ></app-inbox-requests>
        }
      </mat-tab>
      <mat-tab label="Sent requests"
        >@if(selectedTab === 2) {
        <app-sent-requests
          [allSentRequests]="allSentRequests"
          [user]="user"
          (isUpdate)="getContentSent()"
        ></app-sent-requests>
        }</mat-tab
      >
      <mat-tab label="Accepted">
        @if(selectedTab === 3) {<app-accepted-requests
          [allAcceptedRequests]="allAcceptedRequests"
        ></app-accepted-requests
        >}
      </mat-tab>
      <mat-tab label="Rejected">
        @if(selectedTab === 4) {<app-rejected-requests
          [allRejectedRequests]="allRejectedRequests"
        ></app-rejected-requests
        >}
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
