<div
  class="flex flex-col sm:flex-row w-full items-center sm:items-start gap-2 sm:gap-5 mb-3 justify-center sm:justify-start"
>
  <p><span class="font-semibold">Found results:</span> {{ books.length }}</p>
  <p>
    <span class="font-semibold">Number of pages:</span>
    {{ paginationLiteService.numPages() }}
  </p>
</div>
<div class="flex gap-3 flex-wrap justify-center">
  @for (book of paginationLiteService.visibleElements; track
  book.cover_edition_key) {
  <app-book-item [book]="book" (linkUsed)="linkUsed.emit(true)"></app-book-item>
  }
</div>
<div class="pagination pb-5" *ngIf="paginationLiteService.numPages() > 1">
  <button
    class="pagination__btn"
    (click)="paginationLiteService.prevPage()"
    [disabled]="paginationLiteService.currentPage === 1"
  >
    Previous
  </button>
  <span class="pagination__text"
    >Current Page: {{ paginationLiteService.currentPage }}</span
  >
  <button
    class="pagination__btn"
    (click)="paginationLiteService.nextPage()"
    [disabled]="
      paginationLiteService.currentPage === paginationLiteService.numPages()
    "
  >
    Next
  </button>
</div>
