<div class="pt-5">
  <div class="pb-3">
    <h4 class="profile__titles pb-2 font-semibold text-center sm:text-start">
      {{ user?.displayName + "'s favourite books" | uppercase }}
    </h4>
  </div>
  <div class="relative min-h-48">
    <div
      class="relative min-h-48 flex flex-wrap justify-center gap-2"
      *ngIf="favouriteBooksService.isAnyBook; else noBook"
    >
      @if (!favouriteBooksService.loadingBooks) { @for (work of
      favouriteBooksService.userBooks.slice(0,5); track work.key) {
      <div class="max-w-52">
        <app-work-item [work]="work"></app-work-item>
      </div>
      }} @else {
      <app-floating-message
        ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
          Loading...
        </p></app-floating-message
      >
      }
    </div>
    <ng-template #noBook>
      <app-floating-message
        ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
          No favourite books
        </p></app-floating-message
      >
    </ng-template>
  </div>
</div>
