@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/css-star-rating/scss/star-rating";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;

:root {
  --error-color: red;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.validate-error {
  color: var(--error-color);
}

.container-normall {
  max-width: 1400px;
  padding: 0 10px;
  margin: auto;
}

.container-big {
  max-width: 1500px;
  padding: 0 10px;
  margin: auto;
}
