@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../node_modules/swiper/swiper.scss";
@import "../node_modules/css-star-rating/scss/star-rating";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Roboto Slab', serif;

:root {
  --error-color: red;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.validate-error {
  color: var(--error-color);
}

.container-normall {
  max-width: 1400px;
  padding: 0 10px;
  margin: auto;
}

.container-big {
  max-width: 1500px;
  padding: 0 10px;
  margin: auto;
}

.container-ultra__big {
  max-width: 1600px;
  padding: 0 10px;
  margin: auto;
}

.item__card {
  &:hover {
    .item__description {
      transition: all 0.3s;
      opacity: 1;
    }
  }
}

.item__image {
  width: 300px !important;
  height: 400px !important;
  object-fit: cover;
  object-position: top;
}

.pagination {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  &__text {
    font-weight: 600;
  }

  &__btn {
    padding: 10px 15px;
    background: #5c5c5c;
    color: #fff;
    transition: background-color 0.3s;

    &:hover {
      background-color: #2c2c2c;
    }

    &:disabled {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.loading {
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__text {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
}

.textarea-error {
  border-color: var(--error-color);
  color: var(--error-color);
}

.textarea-error::placeholder {
  color: var(--error-color);
}

.successfull {
  color: rgb(34, 197, 94);
}

.disabled-textarea {
  background-color: #e4e4e4c2;
}

.disabled-btn {
  color: #e4e4e4c2;
}
