<div class="w-[280px] min-[450px]:w-[360px] mb-3">
  <h4 class="profile__titles pb-2 font-semibold">
    {{ challenge.title | uppercase }}
  </h4>
  <div class="flex gap-3 p-3">
    <div class="max-w-40 w-full">
      <img
        [src]="challenge.image"
        alt="challenge"
        class="object-cover h-full w-full"
      />
    </div>
    <div class="w-full">
      <a routerLink="/favourites" class="block mb-2 text-sm hover:underline"
        >Your have read {{ challenge.read }} of {{ challenge.total }} books.</a
      >
      <div class="pb-3">
        <div class="flex justify-between mb-1">
          <span class="text-base font-medium text-gray-700 dark:text-white"
            >Progress</span
          >
          <span class="text-sm font-medium text-gray-700 dark:text-white">{{
            progressBarTitle
          }}</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
          <div
            class="bg-gray-600 h-2.5 rounded-full"
            [style]="progressBarWidth"
          ></div>
        </div>
      </div>
      <span class="block text-sm text-gray-500 pb-3 text-center"
        >You're on track!</span
      >
    </div>
  </div>
</div>
