<section id="my-profile" class="pt-[100px] md:pt-[120px] pb-10">
  <div class="container-big">
    @if (!loadingUser) {
    <div
      class="flex items-center min-[1100px]:items-start gap-10 min-[1100px]:gap-5 flex-col min-[1100px]:flex-row"
    >
      <div class="w-full">
        <app-profile-info [user]="user"></app-profile-info>
        <div>
          <app-profile-statistics
            [userEmail]="user?.email"
          ></app-profile-statistics>
        </div>

        <div>
          <app-profile-books [user]="user"></app-profile-books>
          <app-profile-authors [user]="user"></app-profile-authors>
          <a
            class="font-medium float-end text-lg inline-block mt-5 mx-2 text-gray-600 hover:underline"
            routerLink="/favourites"
            >More...</a
          >
        </div>
        <app-profile-friends [user]="user"></app-profile-friends>
      </div>
      <div class="w-[300px] min-[450px]:w-96">
        <div class="relative min-h-60">
          @if (!loadingChallenges) { @if (challenges.length > 0) {
          <div class="pr-3 max-h-[500px] overflow-y-scroll">
            @for (challenge of challenges; track challenge.id) {
            <app-profile-challenges
              [challenge]="challenge"
            ></app-profile-challenges>
            }
          </div>
          <button
            type="button"
            class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            (click)="viewChallenges()"
          >
            {{ "View challenges" | titlecase }}
          </button>
          }@else {
          <app-floating-message
            ><p class="text-lg md:text-xl font-semibold text-center">
              No challenges
            </p></app-floating-message
          >
          }} @else {
          <app-floating-message
            ><p class="text-lg md:text-xl font-semibold text-center">
              Loading...
            </p></app-floating-message
          >
          }
        </div>
        <app-profile-genres [user]="user"></app-profile-genres>
      </div>
    </div>
    } @else {
    <app-floating-message
      ><p class="text-xl sm:text-2xl md:text-3xl font-semibold text-center">
        User data loading...
      </p></app-floating-message
    >
    }
  </div>
</section>
