<section id="my-profile" class="pt-[120px] pb-10">
  <div class="container-big">
    @if (!loadingUser) {
    <div class="flex justify-between gap-5">
      <div class="w-full">
        <app-profile-info [user]="user"></app-profile-info>
        <div>
          <app-profile-statistics
            [userEmail]="user?.email"
          ></app-profile-statistics>
        </div>

        <div>
          <app-profile-books [user]="user"></app-profile-books>
          <app-profile-authors [user]="user"></app-profile-authors>
          <a
            class="font-medium float-end text-lg inline-block mt-5 mx-2 text-gray-600 hover:underline"
            routerLink="/favourites"
            >More...</a
          >
        </div>
        <app-profile-friends [user]="user"></app-profile-friends>
      </div>
      <div class="w-96">
        <div>
          <app-profile-challenges
            [challenge]="challenge"
          ></app-profile-challenges>
          <app-profile-challenges
            [challenge]="challenge"
          ></app-profile-challenges>
          <app-profile-challenges
            [challenge]="challenge"
          ></app-profile-challenges>
          <app-profile-challenges
            [challenge]="challenge"
          ></app-profile-challenges>
          <button
            type="button"
            class="w-full text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
            (click)="viewChallenges()"
          >
            {{ "View challenges" | titlecase }}
          </button>
        </div>
        <app-profile-genres [user]="user"></app-profile-genres>
      </div>
    </div>
    } @else {
    <div class="no-items">
      <p class="text-3xl font-semibold text-center">User data loading...</p>
    </div>
    }
  </div>
</section>
